html, body {

    background:url("https://www.google.com/search?rlz=1CAACAT_enUS740US740&biw=1366&bih=654&tbm=isch&sa=1&q=superheroes+marvel+and+dc&oq=superheroes+marvel+and&gs_l=img.1.1.0l2.1952.2728.0.4642.3.3.0.0.0.0.149.385.0j3.3.0....0...1c.1.64.img..0.3.381...0i8i30k1.IRIAJgxidEc#imgdii=E6WVZImgcq18zM:&imgrc=hxdf17ha1jy3pM:") no-repeat center center fixed;
    text-align:center;
      color: red;  
}

h1 {
    
    font-size:30vmax;
    
    
}